{% set rabbitmq = salt['grains.filter_by']({
    'Debian': {
      'cluster_hosts': None,
      'management':{
        'enabled': False
      },
      'erlang': {
        'cookie': ''
      }
    },
'default': 'Debian',
}, merge=salt['pillar.get']('rabbitmq',{})) %}
